In [1]:
str=input("Enter something")
a=str.split()
count=0
for i in a:
    count=count+1

print(f"no. of words is {count}")

Enter something How are you mate!

no. of words is 4

In [3]:
#cloning lists
l1=[1,2,3,4,5,6,7,8]
l2=l1
print(l1)
print(l2)
print(id(l1))
print(id(l2))
#identity operator (is) checks memory address
print(l2 is l1)
print(l2 is not l1)
l3=l1[2:6]
print(l3)
print(id(l3))
#membership operator (in) checks only single values
print(l3 in l1)
print(4 in l1)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
1818785296704
1818785296704
True
False
[3, 4, 5, 6]
1818785586496
False
True

In [5]:
l2.append(9)
print(l1)
print(l2)
l6=["a","b","c","d","e","f","g"]
l7=["a"]
print(l7 in l6)
print("a" in l6)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
False
True

In [7]:
#True if all the elements are true or list is empty
l4=[1,""]
l5=[]
print(all(l4))
print(all(l5))
print(all(l3))
print(all(num>0 for num in l1))           #comprehension-compact in a single line
print(all(num>5 for num in l1))
print(all(num>2 for num in l3))

False
True
True
True
False
True

In [9]:
#any()-returns true if any element of list is true
print(any(l4))
print(any(l3))
print(any(num>5 for num in l1))

True
True
True

In [11]:
#zip combines to lists in iterations of tuples
print(zip(l1,l6))
print(list(zip(l1,l6)))

<zip object at 0x000001A77811E4C0>
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'), (7, 'g')]

In [13]:
#list comprehension
print([x**2 for x in l3])
print([x-5 for x in l3])
print([x+"ab" for x in l6])

[9, 16, 25, 36]
[-2, -1, 0, 1]
['aab', 'bab', 'cab', 'dab', 'eab', 'fab', 'gab']

In [15]:
greet=["morning","afternoon","evening","night"]
print(["good "+x for x in greet])

['good morning', 'good afternoon', 'good evening', 'good night']

In [17]:
#creating blank lists
list1=[]
list2=list()
print(list1)
print(list2)

[]
[]

In [33]:
cube=[x**3 for x in range (1,12)] #cube of numbers from 1 to 11
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [21]:
#nested for loop using comprehension
print([(x,y) for x in [10,20,30] for y in ["a","b","c"]])

[(10, 'a'), (10, 'b'), (10, 'c'), (20, 'a'), (20, 'b'), (20, 'c'), (30, 'a'), (30, 'b'), (30, 'c')]

In [23]:
lis=['Pune','Mumbai','Nashik']
for index,city in enumerate(lis):
    print(index+1,city)

1 Pune
2 Mumbai
3 Nashik

In [25]:
#lambda function
# Anonymous function / funtion without a name
# Single line

sq=lambda x:x**2 
print("Square= ",sq(4))

add=lambda x,y:x+y
print("Sum= ",add(12,3))

Square=  16
Sum=  15

In [27]:
#passing function a argument
def fun(f,n):
    print(f(n))

twice=lambda x:x*2
thrice=lambda x:x*3

fun(twice,6)
fun(thrice,5)

12
15

In [29]:
#sum of numbers 1 to 10
a=0
for i in range (1,11):
    a+=i
print(a)

55

# Tuple
### Immutable
### Ordered
### Heteregeneous
### Allows Dupliactes

In [39]:
t1=(10,20,30)
print(type(t1))
t2=()                #empty tuple
print(type(t2))
t3=(10)              #tuple having single value
print(type(t3))
t4=(10,)             #correct way to define single value tuple
print(type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [41]:
t5=(10,20,30,40,50) 
# Slicing for Tuple
print(t5[1])
print(t5[-1])
print(t5[1:3])

20
50
(20, 30)

In [43]:
tup=(10,20,30,30,40,20,50,30,60,70)
print(tup.count(30))      # Gives the count of the element
print(tup.index(60))      # First occurence of the element
print(len(tup))           # Gives the length of the Tuple
print(max(tup))           # Gives the element which has the maximum value
print(min(tup))           # Gives the element which has the minimum value
print(sum(tup))           # Gives the sum of all elements

3
8
10
70
10
360

In [45]:
# Unpacking (also takes place in list)
tu=(10,'abc',22.3,[7,8])
m,n,o,p=tu
print(tu)
print(m)
print(type(m))
print(n)
print(type(n))
print(o)
print(type(o))
print(p)
print(type(p))

(10, 'abc', 22.3, [7, 8])
10
<class 'int'>
abc
<class 'str'>
22.3
<class 'float'>
[7, 8]
<class 'list'>

# Dictionary
### set of key-value pair
### {key:value}
### key acts as index value, it should be unique
### mutable

#### empty dictionary

In [49]:
d1={}
print(d1)
print(type(d1))

d2=dict()
print(d2)
print(type(d2))

{}
<class 'dict'>
{}
<class 'dict'>

#### insert values

In [51]:
d1={'name':'ram' , 'age':25 , 'gender':'male'}
print(d1)

{'name': 'ram', 'age': 25, 'gender': 'male'}

In [53]:
dic={'n':1,'m':9,'v':7,'n':6}          #if keys are not unique the previous values are erased and the last entry is considered as final
print(dic)

{'n': 6, 'm': 9, 'v': 7}

#### access values

In [64]:
print(d1['name'])  # adding values
print(d1.get('gender')) # using get method

ram
male

In [66]:
d1['city']='pune'
print(d1)

{'name': 'ram', 'age': 25, 'gender': 'male', 'city': 'pune'}

#### update values

In [69]:
d1['age']=30
print(d1)

{'name': 'ram', 'age': 30, 'gender': 'male', 'city': 'pune'}

#### removing elements

In [72]:
#deletes specific key:value
d1.pop('age')
print(d1)

#deletes last inserted key:value pair
d1.popitem()
print(d1)

{'name': 'ram', 'gender': 'male', 'city': 'pune'}
{'name': 'ram', 'gender': 'male'}

### methods

In [1]:
stud={'name':'alice','age':23,'city':'pune'}
print(stud)
print(stud.keys())                   #only keys
print(stud.values())                 #only values
print(stud.items())                  #key-value as tuple

{'name': 'alice', 'age': 23, 'city': 'pune'}
dict_keys(['name', 'age', 'city'])
dict_values(['alice', 23, 'pune'])
dict_items([('name', 'alice'), ('age', 23), ('city', 'pune')])

In [3]:
#update throught iterables
stud.update({'grade':'A','class':'SY'})
print(stud)
#copy
stud1=stud.copy()
print(stud1)
#clear
stud1.clear()                   #all key value pairs are cleared
print(stud1)

{'name': 'alice', 'age': 23, 'city': 'pune', 'grade': 'A', 'class': 'SY'}
{'name': 'alice', 'age': 23, 'city': 'pune', 'grade': 'A', 'class': 'SY'}
{}

In [5]:
#single key-multiple values
stud_subj={"John":["science","english","maths"],
           "Emma":["History","art"],
           "Sophia":["Biology","physics"]}
print("Emma's subjects are ",stud_subj["Emma"])
stud_subj["Sophia"].append("Chemistry") #add value to key
print(stud_subj)
stud_score={"John":(89,78,93),
            "Emma":(88,94,82),
            "Sophia":(78,87,85)}
print("John's score ",stud_score["John"])

Emma's subjects are  ['History', 'art']
{'John': ['science', 'english', 'maths'], 'Emma': ['History', 'art'], 'Sophia': ['Biology', 'physics', 'Chemistry']}
John's score  (89, 78, 93)

In [7]:
# dictionary within a dictionary
stud_details={
    "John":{"Age":15,"Grade":10,"Subjects":["P","C"]},
    "Emma":{"Age":16,"Grade":11,"Subjects":["H","A"]}
}

print("John's subjects ",stud_details["John"]["Subjects"])

John's subjects  ['P', 'C']

#### iterating

In [10]:
stud={'name':'alice','age':10}

for key in stud:
    print(key,stud[key])

for key,value in stud.items():
    print(f'{key}:{value}')

name alice
age 10
name:alice
age:10

In [12]:
stud={'name':'alice','age':10}
for key in stud:
    print(key,stud[key])
for key,value in stud.items():
    print(f'{key}:{value}')

name alice
age 10
name:alice
age:10

In [14]:
txt="You can specify as many sets you want, separated by commas."

d={}
a=txt.split()

for i in a:
    b=a.count(i)
    d={i:b}
    print(d)

{'You': 1}
{'can': 1}
{'specify': 1}
{'as': 1}
{'many': 1}
{'sets': 1}
{'you': 1}
{'want,': 1}
{'separated': 1}
{'by': 1}
{'commas.': 1}

# Sets
#### heterogeneous
#### no duplicates
#### order is not maintained / no indexing
#### allows only immutable elements / no lists

In [28]:
#empty set
s1={}             #creates a dic
print(s1)
print(type(s1))

s2=set()          #only way to define an empty set
print(s2)
print(type(s2))

{}
<class 'dict'>
set()
<class 'set'>

In [30]:
s3={10,20,30,40,50,10,30}
print(s3)
s4={"a",10,5.6}
print(s4)

{50, 20, 40, 10, 30}
{10, 5.6, 'a'}

In [32]:
s5={(1,8),(6,7)}
print(s5)

{(6, 7), (1, 8)}

## Methods 
### inserting elements in a set

In [35]:
#add elements
set1={"a","b","c","d","e","f","g"}
print(set1)
set1.add("h")
print(set1)

set1.update("i","j","k")
print(set1)

{'f', 'b', 'g', 'e', 'd', 'c', 'a'}
{'f', 'b', 'g', 'e', 'd', 'h', 'c', 'a'}
{'f', 'c', 'i', 'b', 'j', 'g', 'k', 'e', 'd', 'a', 'h'}

### removing elements from a set

In [38]:
set1.remove("d")          #gives error if element is not present
print(set1)

set1.discard("m")         #no errors 
print(set1)

set1.pop()                #random element will be removed
print(set1)

set1.clear()              #empties the set completely
print(set1)

{'f', 'c', 'i', 'b', 'j', 'g', 'k', 'e', 'a', 'h'}
{'f', 'c', 'i', 'b', 'j', 'g', 'k', 'e', 'a', 'h'}
{'c', 'i', 'b', 'j', 'g', 'k', 'e', 'a', 'h'}
set()

### editing elements of a set
###### editing directly is not allowed
###### we have to remove the element and then add the element again
## Operations on sets

In [41]:
se1={10,20,30,40,50,60}
se2={60,40,30,70,80,90}

### union

In [44]:
print(se1.union(se2))
print(se1|se2)

{70, 40, 10, 80, 50, 20, 90, 60, 30}
{70, 40, 10, 80, 50, 20, 90, 60, 30}

### intersection

In [47]:
print(se1.intersection(se2))
print(se1 & se2)

{40, 60, 30}
{40, 60, 30}

### difference

In [50]:
print(se1.difference(se2))
print(se1-se2)

print(se2.difference(se1))
print(se2-se1)

{50, 10, 20}
{50, 10, 20}
{80, 90, 70}
{80, 90, 70}

### symmetric difference

In [53]:
print(se1.symmetric_difference(se2))
print(se1 ^ se2)

{70, 10, 80, 20, 90, 50}
{70, 10, 80, 20, 90, 50}

In [58]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']